<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body>
    <h1>Movies</h1>
    <ul>
        {{#each movies}}
        <li>{{this.title}} ({{this.year}}) <a href="/movie/{{this._id}}">View Details</a></li>
        {{/each}}
    </ul>
    <a href="/addMovie">Add New Movie</a>
</body>
</html>
